/* Screen */
@import "screens/index.css";
@import "screens/archives.css";

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;900&display=swap");

:root {
  --main-font-color: rgb(0, 247, 255);
  --section-divider: blue;
  --section-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  color: var(--main-font-color);
  font-family: "Noto Serif KR", serif;
  overflow: hidden;
}

.hidden {
  display: none;
}
