body
    overflow: hidden

// main component
.work-container
    display: grid
    grid-template-columns: 1fr 5% 1fr 1fr 1fr
    grid-template-rows: repeat(4, 1fr)
    width:100%
    height:100vh
    grid-gap: 10px

    .work-photos
        grid-column: 1 / 2
        grid-row: 1/ end
        // border:1px solid red
        display: grid
        grid-template-columns: repeat(3, minmax(100px, 1fr))
        grid-auto-rows: 250px
        grid-gap:10px
    
    .photo
        width:100%
        height:100%
        object-fit: cover

    .photo-top
        grid-column: 1/4
        grid-row: 1/2
    
    .photo-left
        grid-column: 1/2
        grid-row: 2/3

    .photo-right
        grid-column: 2/4
        grid-row: 2/3
    
    .photo-bottom
        grid-column: 1/4
        grid-row: 3/5

    // arrow
    .arrow
        grid-column: 2/3
        grid-row: 1/end
        // border: 1px solid blue
        display: flex
        justify-content: space-around
        align-items: center
        flex-direction: column

        .arrow-dec
            width:50%
            height:4.5%
            border-radius:50%
            background: black
    
    .work-main
        grid-column: 3/6
        grid-row: 1/4
        // border : 1px solid purple

        iframe
            width:100%
            height:100%
    
    .work-description
        grid-column: 3/6
        grid-row: -2/end
        // border:1px solid orange
        overflow-y: scroll
        

        .work-description__title
            width:100%
            height:100%
            display: flex
            justify-content: space-between
            align-content: center
            
            .work-description__title--container
                width:90%
                height:90%
                background: rgba(0,0, 255, 0.8)
                border-radius: 50%
                margin:0
                display: flex
                justify-content: center
                align-items: center
                font-style: italic
                font-size: 4rem
            .work-description__arrow
                position: fixed
                left:91%
                width:10%
                height:100%
                
        .work-description__content
            width:90%

// hidden
.hidden
    display: none

.disable-scrollbars::-webkit-scrollbar 
  background: transparent
  width: 0px
