.main-video {
  width: 100%;
  height: 100%;
}

.main-archive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-archive__contents {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.main-archive__contents-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  max-height: 720px;
  width: 100%;
  aspect-ratio: 16/9;
}

.main-archive__contents-text1,
.main-archive__contents-text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  opacity: 15%;
  width: 100%;
  height: 100%;
}

.main-archive__contents-text2 > span {
  transform: scaleX(-1);
}

.main-archive__side-left,
.main-archive__side-right {
  display: flex;
  flex: 1;
  position: relative;
  padding-right: 50px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.main-archive__side-right {
  padding-left: 40px;
  padding-right: 0px;
}

.main-archive__side-left__name,
.main-archive__side-right__name {
  z-index: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  padding-left: 215px;
  font-size: 50px;
  font-weight: 900;
  opacity: 5%;
}

.main-archive__side-right__name {
  padding-right: 215px;
  padding-left: 0px;
}

.main-archive__side-left__feels,
.main-archive__side-right__feels {
  z-index: 1;
  list-style: none;
}

.main-archive__side-left__feels {
  padding-left: 0px;
  padding-right: 50px;
}

.main-archive__contents-video__stack {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  width: 100%;
  height: auto;
}
