.main-video {
  display: inline;
  vertical-align: middle;
  width: 100%;
}

.main-archive {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-archive__video {
  vertical-align: middle;
  border: 2px solid red;
}

.main-videos__stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.main-videos__stack iframe:first-child {
  width: 100%;
  height: 100%;
}

.main-videos__stack iframe:nth-child(2) {
  width: 100%;
  height: 100%;
}
