.author-header {
  margin: 5px 5px 0px 5px;
}

.index-header {
  padding: 50px 0px;
  text-align: center;
  font-size: 100px;
}

.index-header__title {
  display: flex;
  justify-content: center;
}

@keyframes audioEffect {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.index-header__title > span:first-child {
  animation: audioEffect 1000ms cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

.index-screen__items a {
  text-decoration: none;
  color: black;
}
