.author-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.author-header > .author-header__yoo,
.author-header__lee {
  font-family: "Reenie Beanie", cursive;
}

.author-header__insta {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  right: 50px;
}
