.author-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-header > .author-header__yoo,
.author-header__lee {
  font-family: "Reenie Beanie", cursive;
}

.author-header__yoo > a {
  padding-right: 10px;
  text-decoration: none;
  color: black;
}

.author-header__lee > a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
